<launch>
	<arg name="robot_id"/>
	<arg name="robot_tf"/>
	<arg name="init_pose"/>

	<!-- Set sim environment -->
	<param name="ENV" value="sim" />

	<!-- Spawn robot in sim -->
	<include file="$(find ar_sim)/launch/gazebo_sim.launch" >
		<arg name="init_pose" value="$(arg init_pose)" />
		<arg name="robot_id" value="$(arg robot_id)" />
	</include>

	<!-- Launch autonomy stack -->
	<include file="$(find ar_commander)/launch/autonomy_stack.launch" />

    <!-- Launch teensy replicator -->
    <arg name="ros_serial_node" value="rosserial" />
    <param name="ros_serial_node" value="$(arg ros_serial_node)" />
    <node pkg="ar_sim" type="teensy.py" name="$(arg ros_serial_node)" output="screen" />

</launch>
