<launch>
    <!-- Create world -->
    <include file="$(find ar_sim)/launch/world.launch"/>

    <group ns="robot1">
        <!-- load params -->
        <rosparam command="load" file="$(find ar_commander)/configs/software_sim_params.yaml"/>
        <rosparam command="load" file="$(find ar_sim)/configs/sim_interface_params.yaml"/>
        <rosparam command="load" file="$(find ar_commander)/configs/hardware_params.yaml"/>

        <!-- launch ar_sim -->
        <include file="$(find ar_sim)/launch/gazebo_sim.launch" >
            <arg name="robot_id" value="robot1" />
            <arg name="init_pose" value="-x 0 -y 0 -z 0" />
        </include>

        <!-- launch ar_commander -->
        <include file="$(find ar_commander)/launch/autonomy_stack.launch" />

        <!-- Launch teensy replicator -->
        <arg name="ros_serial_node" value="rosserial" />
        <param name="ros_serial_node" value="$(arg ros_serial_node)" />
        <node pkg="ar_sim" type="teensy.py" name="$(arg ros_serial_node)" output="screen" />

    </group>
</launch>
