<launch>
    <node pkg="ar_commander" type="estimator_ol.py" name="Estimator" output="screen" />
    <node pkg="ar_commander" type="stateMachine.py" name="StateMachine" output="screen" />
    <!--  <node pkg="ar_commander" type="navigator_test.py" name="Navigator" output="screen" /> -->
    <node pkg="ar_commander" type="controller.py" name="Controller" output="screen" />
</launch>
